# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.crewlink-cs.iml
# Datasource local storage ignored files
/../../../../../../:\Code Stuff\crewlink-cs\.idea\.idea.crewlink-cs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
